#wrapper
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#innerwrapper
{
    width: 1000px;
    float: none;
    margin: 0 auto;
    padding-top: 11%;
}

#logincontainer
{
    width: 894px;
    margin: 0 auto;
    min-height: 350px;
}
.columnwidth46
{
    width: 46%;
    float: left;
}
#ctmcontentcontainer
{
    width: 343px;
    margin: 0 auto;
    margin-top: 125px;
}
#ctmcontentcontainer-logoff
{
    width: 360px;
    margin: 0 auto;
    margin-top: 152px;
    color:#000000;
}
#ctmcontentcontainer ul li
{
    margin-top: 4.4px;
    margin-bottom: 4.8px;
}
#ctmcontentcontainer input
{
    border: 1px solid #7d878c;
    border-radius: 2px;
    font: normal 14px arial;
    width: 92%;
    padding: 8px 12px 7px 12px;
    background-color: #a6a6a6;
    color: #282828;
    -moz-box-shadow: inset 1px 1px 4px #888888;
    -webkit-box-shadow: inset 1px 1px 4px #888888;
    box-shadow: inset 1px 1px 4px #888888;
}
#ctmcontentcontainer select
{
    border: 1px solid #7d878c;
    border-radius: 2px;
    font: normal 14px arial;
    width: 100%;
    padding: 8px 12px 7px 12px;
    background-color: #a6a6a6;
    color: #282828;
    -moz-box-shadow: inset 1px 1px 4px #888888;
    -webkit-box-shadow: inset 1px 1px 4px #888888;
    box-shadow: inset 1px 1px 4px #888888;
}